.navbar{
    list-style:none;
margin:0;
padding:0;
background-color:white;
text-align:left;
top:0;
left:0;
width:100%;
}

.navbar li{
display:inline-block;
}

.navbar a{
display:block;
padding:0 20px;
line-height:50px;
text-decoration:none;
font-size:15px;
font-family:Courier;
font-weight:bold;
color:#a98550;
transition-duration:.3s
}

.navbar a:hover{
background-color:#f2dfd3;

}
